<div class="container">
  <table class="responsive-table">
    <caption>Live Stock Feed</caption>
    <thead>
      <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Price</th>
        <th scope="col">Last Updates</th>
      </tr>
    </thead>
    <tbody *ngFor="let stock of liveStockService.stockData">
      <tr>
        <th scope="row">{{stock.ticker}}</th>
        <td data-title="Released" data-type="currency" [ngClass]="{'red-back': stock.change === -1, 'green-back': stock.change === 1}">{{stock.price}}</td>
        <td data-title="Studio">{{stock.time | amTimeAgo}}</td>
      </tr>
    </tbody>
  </table>
</div>